<% include ../main/partials/header %>
    <div>
        <h2>
            <%= tailor.name %>
        </h2>
        <p>
            <%= tailor.location %>
        </p>
        <p>
            <%= tailor.email %>
        </p>
        <p>
            <%= tailor.price %>
        </p>
        <a href="/tailors/update/<%=tailor._id %>">Update Tailor</a>
        <form action="/delete/<%=tailor._id %>" method="POST">
            <input type="submit" name="delete" value="Delete">
        </form>
        
    </div>
<div>
    
</div>
<% include ../main/partials/footer %>